<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <style>
        html, body, object, embed, iframe {
            margin:  0;
            padding: 0;
            height: 100%;
            width: 100%;
            background: white;
            color: white;
        }
        body {
            position: relative;
        }
    </style>
    <script>
        var XD = function(){

            return {
                postMessage : function(message, target_url, target) {

                    target_url = target_url || '*';

                    target = target || window.parent;  // default to parent

                    if (window['postMessage']) {
                        // the browser supports window.postMessage, so call it with a targetOrigin
                        // set appropriately, based on the target_url parameter.
                        target['postMessage'](message, target_url.replace( /([^:]+:\/\/[^\/]+).*/, '$1'));

                    }
                },

                receiveMessage : function(callback) {

                    // browser supports window.postMessage
                    if (window['postMessage']) {
                        if (window['addEventListener']) {
                            window[callback ? 'addEventListener' : 'removeEventListener']('message', callback, !1);
                        } else {
                            window[callback ? 'attachEvent' : 'detachEvent']('onmessage', callback);
                        }
                    }
                }
            };
        }();

        var windowId;

        XD.receiveMessage(function(e) {

            if (e.data.method == "register") {
                windowId = e.data.windowId;

                console.log('r', e.data.method, e.data.windowId);

                var height;
                var d = document.getElementById('iframely-content');

                function resize() {
                    var h = d.scrollHeight;

                    if (h && h != height) {
                        height = h;
                        XD.postMessage({
                            windowId: windowId,
                            method: 'resize',
                            height: height
                        });
                    }
                }

                var interval = setInterval(resize, 500);
                resize();
            }
        });

    </script>
<body>
    <div id='iframely-content'>
        <%- html %>
    <div>
</body>
</html>