(function() {
    var config = {

        DEBUG: false,

        baseAppUrl: "http://yourdomain.com",
        relativeStaticUrl: "/r",

        port: 8061,

        /*
        Supported cache engines:
        - no-cache - no caching will be used.
        - node-cache - node memory will be used (with node-cache lib).
        - redis - redis as cache backand.
        */
        CACHE_ENGINE: 'node-cache',

        /*
        // Redis cache.
        REDIS_OPTIONS: {
            host: '127.0.0.1',
            port: 6379
        },
        */

        /*
        // Access-Control-Allow-Origin list.
        allowedOrigins: [
            "*",
            "http://another_domain.com"
        ],
        */

        /*
        // Uncomment to enable plugin testing framework.
        tests: {
            mongodb: 'mongodb://localhost:27017/iframely-tests',
            single_test_timeout: 10 * 1000,
            plugin_test_period: 2 * 60 * 60 * 1000,
            relaunch_script_period: 5 * 60 * 1000
        },
        */

        metaLoadingTimeout: 15 * 1000,

        providerOptions: {
            "twitter.status": {
                "max-width": 550,
                "min-width": 250,
                consumer_key: 'INSERT YOUR VALUE',
                consumer_secret: 'INSERT YOUR VALUE',
                access_token: 'INSERT YOUR VALUE',
                access_token_secret: 'INSERT YOUR VALUE',
                hide_media: false,
                hide_thread: false,
                omit_script: false
            },
            flickr: {
                apiKey: 'INSERT YOUR VALUE'
            },
            readability: {
                enabled: true
            }
        }
    };

    module.exports = config;
})();