.iframely-article-container {
    display: inline;
    margin: 0;
    padding: 0;
}

.iframely-article-container img, .iframely-article-container iframe, .iframely-article-container embed {
    display:block;
    margin-left: auto;
    margin-right: auto;
}
