<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script type="text/javascript" src="<%= CONFIG.baseStaticUrl %>/js/iframely-utils.js"></script>
    <script>

        function init() {
            var d = document.getElementById('iframely-content');

            $.iframely.registerHeightGetter(function() {
                return d.scrollHeight + 20;
            });
        }

    </script>
<body onload="init();">
<div id='iframely-content'>
    <%- html %>
<div>
</body>
</html>