<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <style>
        html, body, object, embed, iframe {
            margin:  0;
            padding: 0;
            height: 100%;
            width: 100%;
            background: white;
            color: white;
        }
        body {
            position: relative;
        }
    </style>
<body><%- html %></body>
</html>