.iframely_box input {
    width: 80%;
}
.iframely_box .results {
    padding: 10px;
    height: 500px;
    overflow-y: auto;
}

.iframely_box .results img {
    max-width: 700px;
}

.iframely_box .results .insert {
    padding: 5px;
}

.iframely_box .results>div {
    padding: 10px;
    border-top: 1px solid black;
}